* {
  font-family: 'Roboto Slab', serif;
}

header {
  background-image: linear-gradient(to right,rgb(169, 206, 255),rgb(5, 52, 94));
  color: white;
  width: 100%;
  padding: 1%;
  text-align: center;
}

aside {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-bottom: 10px;
}

label {
  font-size: 150%;
  font-weight: bold;
}

input {
  height: 35px;
  padding: 0 5px;
  border: 1px solid rgb(189, 189, 189);
}

button {
  height: 30px;
  border: none;
  background-color: rgb(110, 157, 253);
  color: white;
}

input,
button,
#saved-city {
  border-radius: 5px;
}

#search-history {
  border-top: 1px solid rgb(189, 189, 189);
  padding-top: 10px;
}

#saved-city {
  height: 30px;
  border: none;
  background-color: rgb(189, 189, 189);
  text-align: center;
  margin-bottom: 10px;
  padding-top: 2px;
}

#saved-city:hover {
  cursor: pointer;
}

#clear {
  width: 100px;
  background-color: rgb(255, 111, 111);
}

#current-forecast {
  border: 1px solid rgb(189, 189, 189);
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

#current-forecast div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-card {
  background-color: rgb(23, 39, 54);
  color: white;
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}